{
    "Token": "your bot token",
    "EnableTextCommands": "true/false",
    "EnablePollers": "true/false",
    "CommandPrefix": "any string you like, usually ! or similar",
    "RedditRefreshTimer": "any int > 0, (10-30 recommended)",
    "AdminServerID":"id for the server to receive admin outputs",
    "AdminChannelID":"id for admin text channel outputs",
    "SubredditConfig": [
        {
            "ServerID": "server id for discord guild",
            "ServerFriendlyName": "a string for us humans to remember which server",
            "TargetChannelID": "channel id for where the reddit submissions go",
            "TargetSubreddit": "which subreddit you want to watch",
            "NewSubmissionCacheSize": "an int for how many posts you cache to determine whats new (recommend 25 or greater)"
        }
    ]
}