{
    "Token": "your bot token",
    "LogFile": "name of your log file",
    "MessageLogFile": "name of message logfile",
    "EnableReactions": "true/false",
    "EnableTextCommands": "true/false",
    "EnablePollers": "true/false",
    "CommandPrefix": "any string you like, usually ! or similar",
    "RedditRefreshTimer": "any int > 0, (10-30 recommended)",
    "AdminServerID":"id for the server to receive admin outputs",
    "AdminChannelID":"id for admin text channel outputs",
    "SubredditConfig": [
        {
            "ServerID": "server id for discord guild",
            "ServerFriendlyName": "a string for us humans to remember which server",
            "TargetChannelID": "channel id for where the reddit submissions go",
            "TargetSubreddit": "which subreddit you want to watch",
            "NewSubmissionCacheSize": "an int for how many posts you cache to determine whats new (recommend 25 or greater)"
        }
    ],
    "GoalHornConfig":[
        {
            "Team": "the team id number based on the NHL Apis",
            "TeamFriendlyName": "some name you will remember which team this is",
            "ServerID": "server id for the discord guild",
            "ServerFriendlyName": "name you remember because ids suck",
            "TargetChannelID": "channel id for where the goal horn should post",
            "Delay": "how many seconds you want the goal horn to wait before posting",
            "PreText": "any text you want to preceed the goal announcement",
            "PostText": "any text you want to come after the goal announcement"
        }
    ],
    "ReactionActorConfig":[
        {
            "Trigger":"string to trigger on",
            "Reaction":"the reaction name you want to add",
            "Ignore":["list","of","words","to ignore"],
            "ChannelBlackList": ["list of channels", "to ignore"]
        }
    ]
}